<article id="main" class="headerTop" style="background-color: #fff; padding-top: 2em;">

	<section class="style4 container">

		<div class="row 150%">
			<div class="12u 12u(narrower)">

				<!-- Content -->
					<div class="content">
						<section>
							<!-- <a ui-sref="blogDetails" class="image featured"><img src="images/pic03.jpg" alt="" /></a> -->
							<div class="blogCaptionImge" style="background-image: url('images/students.jpg');">
								<div class="overlay">
									<div class="title">About Us</div>
								</div>
							</div>
							<header>
								<h3><strong>ABOUT EDUPLANA</strong></h3>
							</header>


							<p class="mb-10">
								<strong>Education Planning and Funding Advocacy</strong>
							</p>
							<p>Eduplana is a civic tech organization that uses data to advocate for quality education in Nigeria. We believe every citizen should have equal access to quality education with no bias on their location or status in Nigeria.</p>
							<p>
								Our goal is to improve accountability and transparency in Nigeria’s education sector by encouraging both the federal government and state governments to develop an education plan that enables them to invest and improve education quality for their citizens.
							</p>




							<p class="mb-10">
								<strong>EDUPLANA PLATFORM</strong>
							</p>
							<p>An online advocacy platform that addresses education mismanagement gaps in the education sector through data analysis, data visualization and publishing education reports. Our advocacy work covers education funding, teachers’ development, education policy implementation, learning facilities, learning outcomes etc.</p>


							<p class="mb-10">
								<strong>Project Team:</strong>
							</p>
							<ul>
								<li><strong>Lead –</strong> Oriyomi Ogunwale</li>
								<li><strong>Research -</strong>Israel Oke, Alex Onukwue, Abayomi Soetan</li>
								<li><strong>Creative development -</strong>Tijesu Bello, Adeoluwa Adebayo, Ibrahim Dauda</li>
								<li><strong>Technology –</strong> Adegbite Babatunde</li>
							</ul>
						</section>
					</div>

			</div>
		</div>
	</section><br><br>

	

</article>