<article id="main" class="headerTop padFix">

	<section class="wrapper style4 container">

		<div class="row 150%">
			<div class="8u 12u(narrower)">

				<!-- Content -->
					<!-- <div class="content">
						<section>
							<div ui-sref="public-education" class="blogCaptionImge" style="background-image: url('images/Classroom.jpg');">
								
							</div>
							<header>
								<h3>Government doesn’t care | <small>PUBLISHED SEPTEMBER 12, 2017 BY EDUPLANA</small></h3>
							</header>
							<p>How much do you spend in your days as a student on books and essential stationeries? Was it more than clothing and food? How did it compare with your house rent, security fees and water bills? .....</p>
						</section>
					</div>

					<div class="content">
						<section>
							<div ui-sref="qualityEducation" class="blogCaptionImge" style="background-image: url('images/qualityEducation.jpg');">
								
							</div>
							<header>
								<h3>Quality Education | <small>PUBLISHED MAY 17, 2017 BY EDUPLANA</small></h3>
							</header>
							<p>The neglect for education has spiraled back to the days of missionary education and even today the situation has become a total disregard. Yet to improve on our national economy, we need to start from the foundation by developing our educational institutions and improving on her standards.....</p>
						</section>
					</div> -->

					<!-- <div class="content">
						<section>
							<div ui-sref="outOfSchoolProject" class="blogCaptionImge" style="background-image: url('images/Out-of-school Children Project.jpg');">
								
							</div>
							<header>
								<h3>Out of School Children Project | <small>PUBLISHED MAY 17, 2017 BY EDUPLANA</small></h3>
							</header>
							<p>In a period of four years, we have a target of developing over 250,000 out-of-school children with at team of facilitators and teen counselors. We are using a community-based model to develop students on life-coping skills and academic skills......</p>
						</section>
					</div> -->

					<div class="content">
						<section>
							<div ui-sref="studentOnline" class="blogCaptionImge" style="background-image: url('images/studentIT.jpg');">
								
							</div>
							<header>
								<h3>STUDENT ONLINE LEARNING AND DEVELOPMENT | <small>PUBLISHED MAY 17, 2017 BY EDUPLANA</small></h3>
							</header>
							<p>In order to develop students and make them better personalities; the slate is the online portal base to develop their mind........</p>
						</section>
					</div>

					

			</div>
			<div class="4u 12u(narrower)">

				<!-- Sidebar -->
					<div class="sidebar">
						<section>
							<a href="#" class="image featured"><img src="images/studentIT.jpg" alt="" /></a>
							<header>
								<h3>EDUPLAN VOLUNTEERS NETWORK</h3>
							</header>
							<p>We need student volunteers across the 774 LGAs in Nigeria to help public secondary students develop on their social and academic needs......</p>
							<footer>
								<ul class="buttons">
									<li><a ui-sref="getInvolved" class="button small">Learn More</a></li>
								</ul>
							</footer>
						</section>
					</div>

			</div>
		</div>
	</section><br><br>

	

</article>