<section class="dataSearch headerTop">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<div class="inputWrap clearfix">
				<form action="">
					<button class="search">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
					<input id="filter" type="text" placeholder="Search Data">
				</form>
			</div>
		</div>
	</div>
</section>
<section class="dataContainer">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<div class="miniwrap">

				<a href="../assets/pdf/COVID19 PERSONAL DISCOVERY.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">COVID19 PERSONAL DISCOVERY</span>
							<span class="date">May 6, 2020</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/2020 EDUCATION BUDGET.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2020 Proposed Education Budget Report</span>
							<span class="date">Dec 3, 2019</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/state Education Fund report-compressed.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2018 States Education Fund Report</span>
							<span class="date">Dec 15, 2018</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/36 States & FCT Local Government Areas.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">36 States & FCT Local Government Areas</span>
							<span class="date">Nov 16, 2018</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/UBEC Projects In Budget 2018.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">UBEC Projects In Budget 2018</span>
							<span class="date">Nov 16, 2018</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/Ekiti basic education Report-1.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">Ekiti basic education Report</span>
							<span class="date">July 23, 2018</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/Roles and Responsibilities of the Departments of Federal Ministry of Education.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">Roles and Responsibilities of the Departments of Federal Ministry of Education</span>
							<span class="date">July 14, 2018</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/citizen Education allocation confirmed one.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2018 Citizen Education Fund Report</span>
							<span class="date">July 6, 2018</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/sdg4report.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">SDG4 Report</span>
							<span class="date">July 2, 2018</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/Report 2.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2017 EDUCATION FUND</span>
							<span class="date">January 21, 2018</span>
						</span>
					</span>
				</a>
				
				<a href="../assets/pdf/2014 UBEC CONSTITUENCY PROJECTS.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2014 UBEC CONSTITUENCY PROJECTS</span>
							<span class="date">January 16, 2018</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/2015 UBEC CONSTITUENCY PROJECTS.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2015 UBEC CONSTITUENCY PROJECTS</span>
							<span class="date">January 16, 2018</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/2013 RECONCILED PROJECTSS.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2013 RECONCILED PROJECTS</span>
							<span class="date">January 16, 2018</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/HESReport [2017 Edition].pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">HESReport [2017 Edition]</span>
							<span class="date">December 5, 2017</span>
						</span>
					</span>
				</a>

				<a target="_black" href="../assets/pdf/Major Capital Project Report 2.pdf" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">Major Capital Project Report</span>
							<span class="date">November 28, 2017</span>
						</span>
					</span>
				</a>			

				<a href="../assets/pdf/2006 FG Education budget.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2017 FG Education budget</span>
							<span class="date">November 28, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/2016 FG Education Budget.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2016 FG Education budget</span>
							<span class="date">November 28, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/2015 FG Education Budget.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2015 FG Education budget</span>
							<span class="date">November 28, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/2014 FG Education Budget.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2014 FG Education budget</span>
							<span class="date">November 28, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/2013 FG Education Budget.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2013 FG Education budget</span>
							<span class="date">November 28, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/2012 FG Education Budget.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2012 FG Education budget</span>
							<span class="date">November 28, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/2011 FG Education budget.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2011 FG Education budget</span>
							<span class="date">November 28, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/2009 FG Education Budget.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2009 FG Education budget</span>
							<span class="date">November 28, 2017</span>
						</span>
					</span>
				</a>
				
				<a href="../assets/pdf/2006 FG Education budget.pdf" target="_black" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2006 FG Education budget</span>
							<span class="date">November 28, 2017</span>
						</span>
					</span>
				</a>














































				<a href="../assets/pdf/Eduplana - Homegrown school feeding programme - Report.pdf" download="Homegrown school feeding programme - Report" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">Homegrown school feeding programme - Report</span>
							<span class="date">November 17, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/2017 proposed education Allocation.pdf" download="2017 proposed education Allocation" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2017 Proposed Education Allocation</span>
							<span class="date">September 06, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/ASUU.pdf" download="ASUU FGN.ASUU-INITIALED-AGREEMENT-JAN.-2009" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">ASUU FGN.ASUU-INITIALED-AGREEMENT-JAN.-2009</span>
							<span class="date">September 06, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/FTS RECRUITMENT FOR 2013-2015.pdf" download="FTS RECRUITMENT FOR 2013-2015" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">FTS RECRUITMENT FOR 2013-2015</span>
							<span class="date">September 06, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/Lagos Budget- Education.pdf" download="Lagos Budget- Education" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">Lagos Budget- Education</span>
							<span class="date">September 06, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/NASS2017Budget.pdf" download="NASS 2017 Budget" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">NASS 2017 Budget</span>
							<span class="date">September 06, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/SUMMARY OF FTS RECRUITMENT FROM 2006-2015.pdf" download="Summary of FTS Recruitment From 2006-2015" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">Summary of FTS Recruitment From 2006-2015</span>
							<span class="date">September 06, 2017</span>
						</span>
					</span>
				</a>

			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function(){
    $("#filter").keyup(function(){
 
        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val()
 
        // Loop through the panel-info
        $(".downloadTab").each(function(){
 
            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();
 
            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).show();
            }
        });
 
    });
});
</script>