<article id="main" class="headerTop" style="background-color: #fff; padding-top: 2em;">

	<section class="style4 container">

		<div class="row 150%">
			<div class="12u 12u(narrower)">

				<!-- Content -->
					<div class="content">
						<section>
							<!-- <a ui-sref="blogDetails" class="image featured"><img src="images/pic03.jpg" alt="" /></a> -->
							<div class="blogCaptionImge" style="background-image: url('images/get_involved_banner.jpg');">
								<div class="overlay">
									<div class="title">Get Involved</div>
								</div>
							</div>
							<header>
								<h3><strong>Get Involved</strong></h3>
							</header>
							<p>We need student volunteers across the 774 LGAs in Nigeria to help public secondary students develop on their social and academic needs. They also serve as eduplan ambassadors in this Local Government areas.</p>
							
							<h3><strong>Benefits:</strong></h3>

							<ul>
								<li>Become a change agent and make a difference in your community.</li>
								<li>Get the opportunity to learn and develop yourself across different skills and programs.</li>
								<li>Become part of a professional and friendly network of young people committed to a common cause and shared values.</li>
								<li>Get a certificate of service during your volunteering service.</li>
								<li>To volunteer, kindly download and fill the EVN form and send to info@eduplan.com</li>
							</ul>

						
						</section>
					</div>

			</div>
		</div>
	</section><br><br>

	

</article>