<!-- Banner -->
<section class="banner headerTop">
    <div class="swiper-container">
        <div class="swiper-wrappe">
            <div class="swiper-slider" style="background-image: url('images/covidrepota.jpg')">
                <div class="overlay">
                    <div class="container">
                        <div class="caption"><span class="text">Nigerians</span> Demand Accountability</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
    </div>
</section>

<section class="page-content">
    <div class="container">
        <div class="content-wrapper">
            <div class="left-content">
                <div class="first-section">
                    <div class="label">Name</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, provident.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, provident.</p>
                </div>
                <div class="second-section">
                    <div class="label">Name</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, provident.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, provident.</p>
                </div>
            </div>
            <div class="middle-content">
                <div class="first-section">
                    <div class="label">Govt spending</div>
                    <div class="num">0</div>
                </div>
                <div class="versus">VS</div>
                <div class="second-section">
                    <div class="label">Citizen palliative</div>
                    <div class="num">10</div>
                </div>
            </div>
            <div class="right-content">
                <div class="first-section">
                    <div class="label">By LGAs</div>
                    <img src="images/lag.png" alt="">
                </div>
                <div class="second-section">
                    <div class="label">WhatsApp</div>
                    
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="left-content">
                <div class="first-section">
                    <div class="label">Donations</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, provident.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, provident.</p>
                </div>
                <div class="second-section">
                    <div class="label">Population</div>
                    <div class="num">81,000</div>
                </div>
            </div>
            <div class="middle-content">
                <div class="first-section">
                    <div class="label">Govt items</div>
                    <div class="num">0</div>
                </div>
                <div class="versus">VS</div>
                <div class="second-section">
                    <div class="label">Citizen confirmation</div>
                    <div class="num">10</div>
                </div>
            </div>
            <div class="right-content">
                <div class="first-section">
                    <div class="label">By LGAs</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, provident.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, provident.</p>
                </div>
                <div class="second-section">
                    <div class="label">WhatsApp</div>
                    
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="left-content">
                <div class="first-section">
                    <div class="label">Donations</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, provident.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, provident.</p>
                </div>
                <div class="second-section">
                    <div class="label">Population</div>
                    <div class="num">81,000</div>
                </div>
            </div>
            <div class="middle-content">
                <div class="first-section">
                    <div class="label">Govt items</div>
                    <div class="num">0</div>
                </div>
                <div class="versus">VS</div>
                <div class="second-section">
                    <div class="label">Citizen confirmation</div>
                    <div class="num">10</div>
                </div>
            </div>
            <div class="right-content">
                <div class="first-section">
                    <div class="label">By LGAs</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, provident.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, provident.</p>
                </div>
                <div class="second-section">
                    <div class="label">WhatsApp</div>
                    
                </div>
            </div>
        </div>


        <div class="recently-uploaded">
            <div class="title">Recently Uploaded</div>
            <div class="wrapper">
                <div class="card">
                    <div class="title">Data</div>
                    <div class="image"></div>
                    <div class="caption">Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.</div>
                </div>

                <div class="card">
                    <div class="title">Infographic</div>
                    <div class="image"></div>
                    <div class="caption">Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.</div>
                </div>

                <div class="card">
                    <div class="title">Stories</div>
                    <div class="image"></div>
                    <div class="caption">Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.</div>
                </div>
            </div>
        </div>
    </div>
</section>