<!-- Banner -->
<section class="banner headerTop">
    <div class="swiper-container">
        <div class="swiper-wrappe">
            <div class="swiper-slider" style="background-image: url('images/covidrepota.jpg')">
                <div class="overlay">
                    <div class="container">
                        <div class="caption"><span class="text">Nigerians</span> Demand Covid-19 Accountability</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
    </div>
</section>

<section class="page-content">
    <div class="container">

        <div class="content-wrapper">
            <div class="donation-wrap">
                <div class="title">FG Donations</div>
                <div class="flex-wrapper">
                    <div class="img-wrap">
                        <div class="img-title">Summary</div>
                        <div class="thumbnail-wrap">
                            <a href="images/12.jpeg" target="_blank">
                                <div class="thumnail" style="background-image: url('images/12.jpeg');"></div>
                            </a>
                        </div>
                    </div>
                    <div class="img-wrap">
                        <div class="img-title" >By States</div>
                        <div class="thumbnail-wrap">
                            <a href="images/11.jpeg" target="_blank">
                                <div class="thumnail" style="background-image: url('images/11.jpeg');"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="covid-story">
                <div class="title">COVID-19 Stories</div>
                <div class="img" style="background-image: url('images/lag.jpg')"></div>
                <div class="text">Lagos state govt distributes food items and N5,000 COVID-19 palliative to 700 Alimosho residents</div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="rep-wrap">
                <div class="lagos">
                    <div class="title">Lagos State</div>
                    <div class="flex-wrapper">
                        <div class="img-wrap">
                            <div class="img-title" >Donations</div>
                            <img src="images/10.jpeg">
                            <div class="num">N30 bn</div>
                        </div>
                        <div class="img-wrap">
                            <div class="img-title" >Spending</div>
                            <img src="images/10.jpeg">
                            <div class="num">N8 bn</div>
                        </div>
                    </div>
                </div>
                <div class="rep">
                    <div class="title">Call Your Reps</div>
                     <a href="images/16.jpeg" target="_blank">
                        <div class="rep-banner" style="background-image: url('images/rep.jpg')"></div>
                    </a>
                </div>
            </div>

            <div class="info-graphic-wrap">
                <div class="info-graphic">
                    <div class="title">Notify</div>
                    <a ui-sref="notify"><div class="img" style="background-image: url('images/9.jpeg')"></div></a>
                </div>
                <div class="info-graphic">
                    <div class="title">Verify</div>
                    <a ui-sref="verify"><div class="img" style="background-image: url('images/7.jpeg')"></div></a>
                </div>
                <div class="info-graphic">
                    <div class="title">Meter</div>
                    <a ui-sref="metre"><div class="img" style="background-image: url('images/6.jpeg')"></div></a>
                </div>
                <div class="info-graphic">
                    <div class="title">Probe</div>
                    <a ui-sref="probe"><div class="img" style="background-image: url('images/8.jpeg')"></div></a>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="uploaded-wrap">
                <div class="title">Recently Uploaded</div>
                <div class="flex-wrapper">
                    <div class="img-wrap">
                        <div class="img-title" >Data</div>
                        <div class="thumbnail-wrap">
                            <a href="images/3.jpeg" target="_blank">
                                <div class="thumnail" style="background-image: url('images/3.jpeg');"></div>
                            </a>
                        </div>
                    </div>
                    <div class="img-wrap">
                        <div class="img-title" >Infographic</div>
                        <div class="thumbnail-wrap">
                            <a href="images/12.jpeg" target="_blank">
                                <div class="thumnail" style="background-image: url('images/12.jpeg');"></div>
                            </a>
                        </div>
                    </div>
                    <div class="img-wrap-without-title">
                        <div class="thumbnail-wrap">
                            <div class="thumnail" style="background-image: url('images/5.jpeg');"></div>
                        </div>
                        <a style="text-decoration: none;" href="images/17.jpeg" target="_blank"><div class="title">Petition</div></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>