
<!-- Main -->
    <article id="main">

        <!-- Three -->
            <section class="wrapper style3 container special">

                <header class="major">
                    <h2><strong class="brandColor">Our Infographics</strong></h2>
                </header>

                


                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/2018 Citizens Education Fund Summary.jpg" class="popup">
                                <img src="images/2018 Citizens Education Fund Summary.jpg" alt="2018 Citizens Education Fund Summary">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2018 Citizens Education Fund Summary</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/2018 JAN - FEB WASSCE DIET.jpg" class="popup">
                                <img src="images/2018 JAN - FEB WASSCE DIET.jpg" alt="2018 JAN - FEB WASSCE DIET">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2018 JAN - FEB WASSCE DIET</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/2018 Joint Action Committee Strike.png" class="popup">
                                <img src="images/2018 Joint Action Committee Strike.png" alt="2018 Joint Action Committee Strike">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2018 Joint Action Committee Strike</a>
                        </div>

                    </div>
                </div>


                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/2018 Proposed Education Allocation Summary.png" class="popup">
                                <img src="images/2018 Proposed Education Allocation Summary.png" alt="2018 Proposed Education Allocation Summary">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2018 Proposed Education Allocation Summary</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/2018 UNESCO Allocation (Nigeria).png" class="popup">
                                <img src="images/2018 UNESCO Allocation (Nigeria).png" alt="2018 UNESCO Allocation (Nigeria)">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2018 UNESCO Allocation (Nigeria)</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/Comprehensive Reform of Higher Education.png" class="popup">
                                <img src="images/Comprehensive Reform of Higher Education.png" alt="Comprehensive Reform of Higher Education">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Comprehensive Reform of Higher Education</a>
                        </div>

                    </div>
                </div>


                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/Education Budgetary Allocations (1999 - 2013).jpg" class="popup">
                                <img src="images/Education Budgetary Allocations (1999 - 2013).jpg" alt="Education Budgetary Allocations (1999 - 2013)">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Education Budgetary Allocations (1999 - 2013)</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/Education Spending & Population Growth.png" class="popup">
                                <img src="images/Education Spending & Population Growth.png" alt="Education Spending & Population Growth">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Education Spending & Population Growth</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/Ekiti Basic Education Indicators.jpg" class="popup">
                                <img src="images/Ekiti Basic Education Indicators.jpg" alt="Ekiti Basic Education Indicators">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Ekiti Basic Education Indicators</a>
                        </div>

                    </div>
                </div>

                
                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/FG Educaton and Security (2014 - 2018).png" class="popup">
                                <img src="images/FG Educaton and Security (2014 - 2018).png" alt="FG Educaton and Security (2014 - 2018)">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">FG Educaton and Security (2014 - 2018)</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/Populous Nations by 2050.png" class="popup">
                                <img src="images/Populous Nations by 2050.png" alt="Populous Nations by 2050">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Populous Nations by 2050</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/SDG 4.b.1 & 4c.PNG" class="popup">
                                <img src="images/SDG 4.b.1 & 4c.PNG" alt="SDG 4.b.1 & 4c">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">SDG 4.b.1 & 4c</a>
                        </div>

                    </div>
                </div>


                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/Top Education Funding Percentage(Military & Democratic Rule).png" class="popup">
                                <img src="images/Top Education Funding Percentage(Military & Democratic Rule).png" alt="Top Education Funding Percentage(Military & Democratic Rule)">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Top Education Funding Percentage(Military & Democratic Rule)</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/Uni of Ibadan Allocation Breakdown.jpg" class="popup">
                                <img src="images/Uni of Ibadan Allocation Breakdown.jpg" alt="Uni of Ibadan Allocation Breakdown.jpg">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Uni of Ibadan Allocation Breakdown.jpg</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/University Corruption Survey.jpg" class="popup">
                                <img src="images/University Corruption Survey.jpg" alt="University Corruption Survey">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">University Corruption Survey</a>
                        </div>

                    </div>
                </div>































                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/_1.png" class="popup">
                                <img src="images/_1.png" alt="2017 Education Budget - Federal Agencies">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 Education Budget - Federal Agencies</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/_2.png"" class="popup">
                                <img src="images/_2.png"" alt="Federal University Of Agriculture Abeokuta">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">University Allocation (2013 - 2017) - FUNAAB</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/_3.png" class="popup">
                                <img src="images/_3.png" alt="2017 National Assembly And Federal University Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 National Assembly And Federal University Allocation</a>
                        </div>

                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/_4.jpg" class="popup">
                                <img src="images/_4.jpg" alt="Ongoing LAUTECH Strike">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Ongoing LAUTECH Strike</a>
                        </div>
                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/4.jpeg" class="popup">
                                <img src="images/4.jpeg" alt="2017 Proposed Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 Education Budget(Quick Notes)</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/5.jpeg" class="popup">
                                <img src="images/5.jpeg" alt="2017 Education Budget(Federal Agencies)">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 Education Budget(Federal Agencies)</a>
                        </div>

                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/7.jpg" class="popup">
                                <img src="images/7.jpg" alt="Lagos State 2016 Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Lagos State 2016 Education Allocation</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/8.jpg" class="popup">
                                <img src="images/8.jpg" alt="2017 Proposed Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 Proposed Education Allocation</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/9.jpeg" class="popup">
                                <img src="images/9.jpeg" alt="Revitalization Fund of University System">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Revitalization Fund of University System</a>
                        </div>

                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info1.jpg" class="popup">
                                <img src="images/info1.jpg" alt="2017 Proposed Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 Proposed Education Allocation</a>
                        </div>

                    </div>

                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info3.jpg" class="popup">
                                <img src="images/info3.jpg" alt="Allocation Percentage">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Allocation Percentage</a>
                        </div>

                    </div>

                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info4.jpg" class="popup">
                                <img src="images/info4.jpg" alt="EFCC investigation of Prof. Daramola">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">EFCC investigation of Prof. Daramola</a>
                        </div>
                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info5.jpg" class="popup">
                                <img src="images/info5.jpg" alt="Federal Science and Technology College Total Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Federal Science and Technology College Total Allocation</a>
                        </div>
                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info6.jpg" class="popup">
                                <img src="images/info6.jpg" alt="West African States Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">West African States Allocation</a>
                        </div>
                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info7.jpg" class="popup">
                                <img src="images/info7.jpg" alt="State Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">State Education Allocation</a>
                        </div>

                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info10.jpg" class="popup">
                                <img src="images/info10.jpg" alt="Federal Education Agencies Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Federal Education Agencies Allocation</a>
                        </div>
                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info11.jpg" class="popup">
                                <img src="images/info11.jpg" alt="Federal Polytechnics Proposed Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Federal Polytechnics Proposed Allocation</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info9.jpg" class="popup">
                                <img src="images/info9.jpg" alt="Education Agencies Capital Spending">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Education Agencies Capital Spending</a>
                        </div>

                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info13.jpg" class="popup">
                                <img src="images/info13.jpg" alt="Federal Technical Colleges Total Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Federal Technical Colleges Total Allocation</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info14.jpg" class="popup">
                                <img src="images/info14.jpg" alt="States Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">States Education Allocation</a>
                        </div>
                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info15.jpg" class="popup">
                                <img src="images/info15.jpg" alt="States Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">States Allocation</a>
                        </div>

                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/10.jpg" class="popup">
                                <img src="images/10.jpg" alt="2017 Proposed Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 Proposed Education Allocation</a>
                        </div>
                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/3.jpeg" class="popup">
                                <img src="images/3.jpeg" alt="2016 TETFUND Intervention">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2016 TETFUND Intervention</a>
                        </div>
                    </div>
                </div>
               

            </section>

    </article>


<!-- The Modal -->
<div class="modal myImgModal">
  <span class="Imgclose">&times;</span>
  <img class="modal-content img01">
  <div class="Imgcaption"></div>
</div>