<section class="banner headerTop">
    <div class="swiper-container">
        <div class="swiper-wrappe">
            <div class="swiper-slider" style="background-image: url('images/covidrepota.jpg')">
                <div class="overlay">
                    <div class="container">
                        <div class="caption"><span class="text">Metre</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
    </div>
</section>

<section class="page-content">
	<div class="container">
		<div class="metre-table-section">
			<div class="title">Lagos State</div>
			<table>
				<tr>
					<th></th>
					<th>Date</th>
					<th>Items</th>
					<th>Cash</th>
				</tr>
				<tr>
					<td>Donation</td>
					<td>22/04</td>
					<td>28 PPEs</td>
					<td>N20mn</td>
				</tr>
				<tr>
					<td>Verify</td>
					<td>22/05</td>
					<td>10 PPEs</td>
					<td>N5mn</td>
				</tr>
				<tr>
					<td>Meter</td>
					<td></td>
					<td>
						<span>28</span>
						<span>10</span>
					</td>
					<td>
						<span>20</span>
						<span>5</span>
					</td>
				</tr>
			</table>
			<div class="caption">PPE's - Personal Protective Equipment</div>
		</div>
	</div>
</section>