<section class="banner headerTop">
    <div class="swiper-container">
        <div class="swiper-wrappe">
            <div class="swiper-slider" style="background-image: url('images/covidrepota.jpg')">
                <div class="overlay">
                    <div class="container">
                        <div class="caption"><span class="text">Notify</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
    </div>
</section>

<section class="page-content">
	<div class="container">
		<div class="probe-table-section">
			<div class="title">Lagos State</div>
			<table>
				<tr>
					<th>Date</th>
					<th>LGA</th>
					<th>Community</th>
					<th>Items/Donations</th>
				</tr>
				<tr>
					<td>
						June 28<br> 
						<strong>Time</strong><br>
						10am
					</td>
					<td>
						Alimosho
					</td>
					<td>
						Alimosho Townhall
					</td>
					<td>
						N5000 palliative to 2000 recipients
					</td>
				</tr>

			</table>
		</div>
	</div>
</section>