<article id="main" class="headerTop" style="background-color: #fff; padding-top: 2em;">

	<section class="style4 container">

		<div class="row 150%">
			<div class="12u 12u(narrower)">

				<!-- Content -->
					<div class="content">
						<section>
							<!-- <a ui-sref="blogDetails" class="image featured"><img src="images/pic03.jpg" alt="" /></a> -->
							<div class="blogCaptionImge" style="background-image: url('images/solution.jpg');">
								<div class="overlay">
									<div class="title">Our Solution</div>
								</div>
							</div>
							<header>
								<h3><strong>Our Solution</strong></h3>
							</header>
							<p>Eduplan aims to develop soft skills training in students to reduce out-of-school children in rural communities. By developing their mental abilities, they can develop the skills to overcome different life challenges in their family, school and community.</p>
							
							<ul>
								<li>Quality Education Campaign</li>
								<li>Out-of-school Children Project</li>
								<li>Student Online Learning and Development</li>
								<li>Eduplan Volunteer Initiative</li>
							</ul>

							<p>
								We aim with these enlyteen solutions to provide academic opportunities to students who hope for a better life, reduce poverty and contribute positively to national development.
							</p>
						</section>
					</div>

			</div>
		</div>
	</section><br><br>

	

</article>