<article id="main">

	<header class="special container">
		<span class="icon fa-mobile"></span>
		<h2><strong>Out of School Children Projects</strong></h2>
		<p>With over 10 million out-of-school children, we have a vision of developing over 1 million out-of-school children across the nation by year 2020</p>
	</header>

	<!-- One -->
		<section class="wrapper style4 container">

			<!-- Content -->
				<div class="content">
					<section>
					<div class="blogCaptionImge" style="background-image: url('images/Out-of-school Children Project.jpg');">
								
							</div>
						<header>
							<h3>Out of School Children Projects</h3>
						</header>

						<p>In a period of four years, we have a target of developing over 250,000 out-of-school children with at team of facilitators and teen counselors. We are using a community-based model to develop students on life-coping skills and academic skills.</p>

							<h4><strong>Skills training and apprenticeship for Poverty Eradication (STAPE)</strong></h4>

						<p>This concept is designed to reduce out-of-school children by improving on their life skills and learning skills to help them better cope with their immediate life, family, academic and societal challenges.</p>

						<p>It is a comprehensive approach to reach students in different communities across the country. This will help students in developing life skills to cope with their family and social challenges while also developing their academic skills to cope with school demands.</p>

						<p>By understanding different student psychology in different communities, we organize training sessions in short stories and illustrations that makes them better and achieve more from their immediate environment.</p>

						<p>By creating a better student experience, we aim to reduce the number of out-of-school children.

						Student scholarship scheme is another program designed to encourage students who can join the enlyteen program and still come top of their class.</p>

						<ul>
							<li>Learning Skills</li>
							<li>Non-cognitive skills</li>
							<li>Technical skills</li>
							<li><strong>To help students develop their employability skills.</strong></li>
						</ul>

						

					</section>
				</div>

		</section><br><br>

	

</article>