<section class="banner headerTop">
    <div class="swiper-container">
        <div class="swiper-wrappe">
            <div class="swiper-slider" style="background-image: url('images/covidrepota.jpg')">
                <div class="overlay">
                    <div class="container">
                        <div class="caption"><span class="text">Probe</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
    </div>
</section>

<section class="page-content">
	<div class="container">
		<div class="probe-table-section">
			<div class="title">Covid19 Funds Probe</div>
			<table>
				<tr>
					<th>LGA</th>
					<th>Cash</th>
					<th>Items</th>
					<th>Health</th>
				</tr>
				<tr>
					<td></td>
					<td>
						<span>Govt</span>
						<span>Citizen Verified</span>
					</td>
					<td>
						<span>Govt</span>
						<span>Citizen Verified</span>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>Agege</td>
					<td>
						<span>N2mn</span>
						<span>800,000</span>
					</td>
					<td>
						<span>2,000</span>
						<span>900</span>
					</td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</section>