<article id="main">

	<header class="special container">
		<span class="icon fa-mobile"></span>
		<h2><strong>Government really doesn’t care</strong></h2>
		<p>The facts that show government really doesn’t care about public education.</p>
	</header>

	<!-- One -->
		<section class="wrapper style4 container">

			<!-- Content -->
				<div class="content">
					<section>
					<div class="blogCaptionImge" style="background-image: url('images/Classroom.jpg');">
								
							</div>
						<header>
							<h3>Government really doesn’t care</h3>
						</header>

						<p>How much do you spend in your days as a student on books and essential stationeries? Was it more than clothing and food? How did it compare with your house rent, security fees and water bills?</p>


						<p>And as your pocket money and allowance appreciated, did your budget for books increase?</p>

						<p>For education to be of quality, it is inevitable that quality money has to be spent. And quality money is not the currency or whether it is ‘mint’ or rumpled notes: individuals, parents and the Government would have to invest quantitatively in Education if it is ever going to produce transformative outputs for the society.</p>

						<p>Apparently, the Government of the giant of Africa does not think so.</p>

						<p>According to numbers published as infographics by eduPLANA, a civic-tech team focused on educational planning in Nigeria, the annual budget for education in Nigeria has consistently gone down both in the percentage of the total budget and in the actual figures of the education budget itself.</p>

						<p>While the total budget for 2014 was N4.962 trillion, the allocation for education was N493 billion, representing a 10% fraction. This percentage marginally improved in the following year by one but only because an extra billion was allocated while the total budget shrunk to N4.493 trillion.</p>

						<p>Then, the massive cuts began.</p>

						<p>The 2015 total budget jumped to N6.08 trillion but instead of adding something for education from the extra N1.587 trillion, education budget in fact stepped down by N9 billion to N483 billion, making it a shameful 7% fraction of the total budget.</p>

						<p>While the total budget went up by more than 950 billion, education slumped by another 35 billion from the 2016 figures, to N448 billion, making Nigeria’s education budget for 2017 a meager 6% of the total budget.</p>

						<p>Should we compare this to other neighbouring Africa countries, the difference is staggering. edupPLANA reveals that Nigeria’s 6.4% is nearly doubled by Liberia’s 12.1% education budget, distanced by the 15.5% of Benin Republic, and annihilated by the 23.1% allocation provided for in Ghana.</p>

						<p>Smaller nations with more mouths to feed? Yes, but Nigeria makes far more money than all of those combined, but appears to have inferior leadership and priorities.</p>

						<p>Looking at those numbers, why should anyone be surprised that 90% of the students in the Houdegbe North American University Benin Republic are Nigerians, or than Nigerians spend nearly $1 billion in tuition in Ghanaian schools?</p>

						

					</section>
				</div>

		</section><br><br>

	

</article>