<article id="main">

	<header class="special container">
		<span class="icon fa-mobile"></span>
		<h2><strong>Quality Education</strong></h2>
		<p>“Education is finding solutions to present societal challenges in preparing for tomorrow’s opportunities; the cornerstone of national development”</p>
	</header>

	<!-- One -->
		<section class="wrapper style4 container">

			<!-- Content -->
				<div class="content">
					<section>
					<div class="blogCaptionImge" style="background-image: url('images/qualityEducation.jpg');">
								
							</div>
						<header>
							<h3>Quality Education</h3>
						</header>

						<p>The neglect for education has spiraled back to the days of missionary education and even today the situation has become a total disregard. Yet to improve on our national economy, we need to start from the foundation by developing our educational institutions and improving on her standards.

						This could be cultural but to move out of this high poverty hole, we need to start improving and educating our ‘next generation’.</p>

						<ul>
							<li>Track the status of education in your state and in the federal government.</li>
							<li>Get state education spending and implementation.</li>
							<li>Student dropout rate</li>
							<li>Analyze to the public through current trends, charts and data</li>
							<li>Show challenges and solution through infographics</li>
							<li>Changing societal and student attitudes towards education and academics</li>
							<li>Increasing public awareness on quality education</li>
						</ul>

						<h2><strong>Making the government do more towards improving quality education</strong></h2>
						
						<ul>
							<li>Federal Government</li>
							<li>State Government</li>
							<li>Dropout rate</li>
							<li>Student Welfare</li>
							<li>Academic Excellence</li>
							<li>Educational model and planning</li>
						</ul>

					</section>
				</div>

		</section><br><br>

	

</article>