<article id="main">

	<header class="special container">
		<span class="icon fa-mobile"></span>
		<h2><strong>STUDENT ONLINE LEARNING AND DEVELOPMENT</strong></h2>
	</header>

	<!-- One -->
		<section class="wrapper style4 container">

			<!-- Content -->
				<div class="content">
					<section>
					<div class="blogCaptionImge" style="background-image: url('images/studentIT.jpg');">
								
							</div>
						<header>
							<h3>STUDENT ONLINE LEARNING AND DEVELOPMENT</h3>
						</header>

						<p>In order to develop students and make them better personalities; the slate is the online portal base to develop their mind. A place where students can develop their skills on personal development, life skills and learning skills..</p>


						<ul>
							<li>Learning Skills</li>
							<li>Non-cognitive skills</li>
							<li>Technical skills</li>
						</ul>

						

					</section>
				</div>

		</section><br><br>

	

</article>