<section class="banner headerTop">
    <div class="swiper-container">
        <div class="swiper-wrappe">
            <div class="swiper-slider" style="background-image: url('images/covidrepota.jpg')">
                <div class="overlay">
                    <div class="container">
                        <div class="caption"><span class="text">Verify</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
    </div>
</section>

<section class="page-content">
	<div class="container">
		<div class="probe-table-section">
			<div class="title">Covid19 Funds Verify</div>
			<table>
				<tr>
					<th>Recipients Name</th>
					<th>LGA</th>
					<th>Estimated no. of recipients</th>
					<th>Items (Kindly list)</th>
					<th>Cash transfer (Amount)</th>
					<th>Evidence; If any (images of food items, cash and people)</th>
				</tr>
				<tr>
					<td>
						Mr Sowande
					</td>
					<td>
						Alimosho
					</td>
					<td>
						2000
					</td>
					<td>
						PPE's<br>Nose Mask<br>Hand Gloves
					</td>
					<td>N2000</td>
					<td></td>
				</tr>

			</table>
		</div>
	</div>
</section>